{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin"  method="post">

    <img src="/images/barber.svg" height="82" />

    <input type="email" name="email" placeholder="Seu Email">
    <input type="password" name="password" placeholder="Sua Senha">

    <button type="submit">Entrar</button>
    <a href="/signup">Criar Conta Grátis</a>
  </form>
{% endblock %}
